@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=DynaPuff:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}

.logo {
  font-family: "DynaPuff", cursive;
}

.bubbles li {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 100%;
  opacity: 0.3;

  animation: bubble 7s linear infinite;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(-90vh);
    opacity: 0;
  }
}

.bubbles li:nth-child(1) {
  animation-delay: 1s;
}
.bubbles li:nth-child(2) {
  animation-delay: 10s;
}
.bubbles li:nth-child(3) {
  animation-delay: 7s;
}
.bubbles li:nth-child(4) {
  animation-delay: 8.5s;
}
.bubbles li:nth-child(5) {
  animation-delay: 0.5s;
}
.bubbles li:nth-child(6) {
  animation-delay: 3s;
}
.bubbles li:nth-child(7) {
  animation-delay: 6s;
}
.bubbles li:nth-child(8) {
  animation-delay: 4s;
}
.bubbles li:nth-child(9) {
  animation-delay: 7s;
}
.bubbles li:nth-child(10) {
  animation-delay: 5s;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #171719;
}
::-webkit-scrollbar-thumb {
  background: #222225;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #131314;
}
